.img {
  height: 900px;
  width: auto;
}
.img-responsive {
    width: auto;
    height: 900px;
}
a {
	color: white;
}
h1 {

	color: white;
}
div {
  width: auto;
}

.container {
  width: 650px;
  margin: 0 auto;
}

.board {
  margin: 0 auto;
}

input {
  font-family: sans-serif;
  color: 
}
table {
	color: white;
	margin: 0 auto;
	
}